/* ==========================================================================
   Navigation
   ========================================================================== */

/*
   Priority plus navigation
   ========================================================================== */

.greedy-nav {
  position: relative;
  min-width: 250px;
  background: var(--global-bg-color);

  a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: var(--global-masthead-link-color);
    text-decoration: none;

    &:hover {
      color: var(--global-masthead-link-color-hover);
    }
  }

  button {
    position: absolute;
    height: 2.5rem;
    right: 0;
    padding: 0 0.5rem;
    border: 0;
    outline: none;
    background-color: var(--global-base-color);
    color: #fff;
    cursor: pointer;
    z-index: 100;
  }

  .visible-links {
    display: table;

    li {
      display: table-cell;
      vertical-align: middle;

      &:first-child {
        font-weight: bold;
        text-wrap: wrap;

        a {
          margin-left: 0;
        }
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }

    #theme-toggle {
      a {
        width: 25px;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
    }

    a {
      position: relative;
      transition: all 0.3s ease;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        background: var(--global-border-color);
        width: 100%;
        -webkit-transition: $global-transition;
        transition: $global-transition;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0); /* hide*/
      }

      &:hover:before {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1); /* reveal*/
      }

      // 当前页面高亮效果
      &.active {
        color: var(--global-base-color) !important;
        font-weight: bold;
        
        &:before {
          background: var(--global-base-color);
          -webkit-transform: scaleX(1);
              -ms-transform: scaleX(1);
                  transform: scaleX(1);
        }
        
        // 添加额外的下划线效果
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 2px;
          background: var(--global-base-color);
          width: 100%;
          border-radius: 1px;
        }
      }
    }
  }

  .hidden-links {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid var(--global-border-color);
    border-radius: $border-radius;
    background: #fff;
    box-shadow: 0 0 10px rgba(#000, 0.25);

    a {
      margin: 0;
      padding: 10px 20px;
      font-size: $type-size-5;

      &:hover {
        color: var(--global-masthead-link-color-hover);
        background: var(--global-border-color);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: -11px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: var(--global-border-color) transparent;
      display: block;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: -10px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: #fff transparent;
      display: block;
      z-index: 1;
    }

    li {
      display: block;
      border-bottom: 1px solid var(--global-border-color);

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

/*
   Navigation list
   ========================================================================== */

.nav__list {
  font-size: 1.25rem;

  ul {
    margin-bottom: 1em;
  }

  a {
    display: block;
    padding: 0.125em 0;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    margin-left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #fff;
    font-weight: bold;
    background: var(--global-base-color);
    border-radius: $border-radius;

    &:hover {
      color: #fff;
    }
  }
}

.nav__title {
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: $sans-serif-narrow;
  font-size: $type-size-5;
  font-weight: bold;
}

.nav__sub-title {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  font-family: $sans-serif-narrow;
  font-size: $type-size-6;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid var(--global-border-color);
}

/*
   Table of contents navigation
   ========================================================================== */

.toc {
  font-family: $sans-serif-narrow;
  font-size: $type-size-6;

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: 1.125rem;
    }

    li {
      padding: 0.125rem 0;
      border-bottom: 1px solid var(--global-border-color);

      &:last-child {
        border-bottom: none;
      }
    }

    a {
      color: var(--global-text-color);

      &:hover {
        color: var(--global-text-color);
        text-decoration: underline;
      }
    }

    .active {
      color: var(--global-base-color);
      font-weight: bold;
    }
  }
}

/*
   Breadcrumb navigation
   ========================================================================== */

.breadcrumbs {
  @include clearfix;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  font-family: $sans-serif-narrow;
  -webkit-animation: $intro-transition;
          animation: $intro-transition;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }
}

.breadcrumb__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.25rem;

  li {
    display: inline-block;
    margin-bottom: 0.5em;
    color: var(--global-text-color-light);

    &:not(:last-child)::after {
      margin-right: 0.5em;
      margin-left: 0.5em;
      content: "/";
      color: var(--global-text-color-light);
    }
  }

  .breadcrumb__item {
    color: var(--global-text-color);
  }
}

.breadcrumb__link {
  color: var(--global-text-color);

  &:hover {
    color: var(--global-text-color);
    text-decoration: underline;
  }
}

/*
   Pagination
   ========================================================================== */

.pagination {
  @include clearfix;
  margin: 0 auto;
  padding: 1rem 4.5rem;
  text-align: center;
  font-family: $sans-serif-narrow;
  -webkit-animation: $intro-transition;
          animation: $intro-transition;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;

  @include breakpoint($large) {
    padding: 1rem 6rem;
  }

  @include breakpoint($x-large) {
    padding: 1rem 8rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  li {
    display: inline-block;

    a,
    span {
      display: block;
      padding: 0.5rem 1rem;
      color: var(--global-text-color);
      text-decoration: none;
      border: 1px solid var(--global-border-color);
      border-radius: $border-radius;

      &:hover {
        color: var(--global-text-color);
        background-color: var(--global-border-color);
      }
    }

    &.current {
      span {
        color: #fff;
        background-color: var(--global-base-color);
        border-color: var(--global-base-color);
      }
    }

    &.disabled {
      color: var(--global-text-color-light);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.page__content + .pagination,
.page__meta + .pagination,
.page__share + .pagination,
.page__comments + .pagination {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid var(--global-border-color);
}